<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing...</title>
    <%- include('../layout/css.ejs') %>
</head>
<body>
  <%- include('../layout/nav.ejs') %>
  <header>
    <h6>Search Results</h6>
  </header>

  <main id="showResultsMain">
    <% books.forEach(book=>{ %>
    <section class="book">
      <div class="bookContainer">
        <img src="<%=book.imageurl%>">
        <h4><%= book.title %></h4>
        <h5><%= book.authors %></h5>
        <p name="description"><%= book.description %></p>
        <p>ISBN: <span name="isbn"><%= book.isbn%></span></p>
        <!-- fake input form? -->
        <form action="/books" method="post">
          <fieldset class="hidden">
            <input name="title" value="<%= book.title %>">
            <input name="authors" value="<%= book.authors %>">
            <input name="description" value="<%= book.description %>">
            <input name="imageurl" value="<%= book.imageurl %>">
            <input name="isbn" value="<%= book.isbn %>">
          </fieldset>
          <button type="submit">Add to Database</button>

        </form>
      </div>
    </section>
    <% }) %>
  </main>
</body>
</html>